<div class="main-area">
  <div class="content-area">
    <div class="header">
      <h1> Manager Products</h1>
		  <hr>
    </div>
    <div class="container">
      <!-- Add Product Form -->
      <div class="form-area" >
        <h3>Create Product</h3>
        <form #productsForm="ngForm" (ngSubmit)="onProductCreate(productsForm.value)">
          <label>Product Name</label> <br>
          <input type="text" name="pname" ngModel> <br>

          <label>Product Description</label> <br>
          <input type="text" name="description" ngModel> <br>

          <label>Product Price</label> <br>
          <input type="text" name="price" ngModel> <br>

          <input type="submit" name="submit" value="{{ editMode ? 'Update Product' : 'Add Product' }}">
        </form>
      </div>

      <!-- Display product area -->
      <div>
        <h3>All Producs</h3>
        <table id="products">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
          <tr *ngIf="allProducts.length<1 && !isFetching && !errorMessage">
            <td colspan="5">No products available</td>
          </tr>
          <!-- If any error msg will be there, then it will be true -->
          <tr *ngIf="errorMessage">
            <td colspan="5">{{ errorMessage }}</td>
          </tr>
          <!-- errorMessage is null,means its false -->
          <tr *ngIf="isFetching && !errorMessage">
            <td colspan="5">Loading...</td>
          </tr>
          <tr *ngFor="let product of allProducts; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ product.pname }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td><button (click)="onEdit(product)">Edit</button></td>
            <td><button (click)="OnDelete(product)">Delete</button></td>
          </tr>
        </table>
        <hr>
        <button (click)="fetchProducts()">Fetch Products</button>
        <button (click)="deleteAll()">Clear Products</button>
      </div>

    </div>
  </div>
</div>

	
		
		 
		
		
		
		
			